.booking-page-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(30, 61, 77);
  min-height: 56vh;
}

.container{
  background-color: #d3d8de;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
}

/* .time-slots{
  padding-bottom: 10px;
} */
.time-slots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.time-slots .selected {
  background-color: #0a5161;
  color: #fff;
}

.time-slots .not-selected {
  background-color: #f8f8f8;
  color: #000;
}

.time-slots .unattain{
  background-color: grey;
  color:white;

}

.booked{
  color: red;
  cursor:none;
  height: 5.4px;
}

.time-slots button {
  margin: px;
  padding: 10px;
  border-radius: 0% ;
  border-right: .3px solid rgb(212, 212, 212);
  cursor: pointer;
  display: inline;
  box-shadow: none;
}

.form-fields{
  width: 600px;
}
.time-slots{
  display: inline; 
}

.info{
  width: 900px;
}
